/* Estilos para a grade de cards */
.card-grid {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Centraliza a grade na página */
}

/* Estilos para os cards */
.card-masculino,
.card-feminino {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  aspect-ratio: 1; /* Mantém uma relação de aspecto quadrada */
}

.card-masculino {
  background-color: #3498db;
  color: #fff;
}

.card-feminino {
  background-color: #e74c3c;
  color: #fff;
}

/* Media queries para layout responsivo */
@media screen and (max-width: 768px) {
  .card-grid {
      grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .card-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}
