/* Estilos para a faixa superior */
.header-banner {
  background-color: #5a5a5a; /* Cor de fundo cinza claro */
  padding: 10px; /* Espaçamento interno */
}

.header-banner p {
  margin: 0;
  font-size: 18px;
  color: #ffffff; /* Cor do texto */
}

/* Estilos para o contêiner principal */
.container {
  max-width: 1200px;
  margin: 0 auto; /* Centraliza o conteúdo na página */
}

body {
 background-color: #ccc;
}

/* Estilos para o contêiner de botões */

.button-container {
  text-align: center;
}

/* Estilos para os botões */
button {
  background-color: #5a5a5a;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block; /* Adiciona essa propriedade */
}

/* Estilo específico para o botão "Ver Todos" */
#verTodos {
  background-color: #2ecc71;
}

/* Estilos para o título "Jogadores" */
h1 {
  text-align: center;
  color: #333;
}

/* Estilos para a grade de cards */
.card-grid {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Centraliza a grade na página */
}

/* Estilos para os cards */
.card-masculino,
.card-feminino {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  max-width: 300px; /* Defina o tamanho máximo desejado para os cards */
}

.card-masculino {
  background-color: #272727;
  color: #fff;
}

.card-feminino {
  background-color: #272727;
  color: #fff;
}

/* Adicione espaçamento interno e externo para os cards */
.card-masculino,
.card-feminino {
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Media queries para layout responsivo */
@media screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
 
